{# templates/partials/sidebar.html.twig #}
<aside class="bg-light p-4">
    <h2 class="mb-4">Hoş Geldiniz</h2>
    <p class="lead">Proje kenar çubuğu.</p>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Menü Öğe 1</a>
        <a href="#" class="list-group-item list-group-item-action">Menü Öğe 2</a>
        <a href="#" class="list-group-item list-group-item-action">Menü Öğe 3</a>
    </div>

    <div class="mt-4">
        <h5>İlgili Bağlantılar</h5>
        <ul class="list-unstyled">
            <li><a href="#">Bağlantı 1</a></li>
            <li><a href="#">Bağlantı 2</a></li>
            <li><a href="#">Bağlantı 3</a></li>
        </ul>
    </div>
</aside>
