<form method="post" action="{{ path('app_borrowedbook_delete', {'id': borrowedbook.id}) }}" onsubmit="return confirm('Silmek istediğinizden emin misiniz?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ borrowedbook.id) }}">
    <button class="btn">Sil</button>
</form>
