{# templates/raporlar/index.html.twig #}

<h1>Raporlar</h1>

<p>Toplam Kitap Sayısı: {{ totalBookCount }}</p>
<p>Ödünç Alınan Kitap Sayısı: {{ borrowedBookCount }}</p>
<p>Geciken İade Sayısı: {{ lateReturnsCount }}</p>
